In [1]:
import pandas as pd
df = pd.read_csv("REFUSAL_ENTRY_2014-October2023.csv", encoding='iso-8859-3')

In [2]:
df.columns

Index(['MFG_FIRM_FEI_NUM', 'LGL_NAME', 'LINE1_ADRS', 'LINE2_ADRS', 'CITY_NAME',
       'PROVINCE_STATE', 'ISO_CNTRY_CODE', 'PRODUCT_CODE', 'REFUSAL_DATE',
       'DISTRICT', 'ENTRY_NUM', 'RFRNC_DOC_ID', 'LINE_NUM', 'LINE_SFX_ID',
       'FDA_SAMPLE_ANALYSIS', 'PRIVATE_LAB_ANALYSIS', 'REFUSAL_CHARGES',
       'PRDCT_CODE_DESC_TEXT'],
      dtype='object')

In [3]:
df.head()

,MFG_FIRM_FEI_NUM,LGL_NAME,LINE1_ADRS,LINE2_ADRS,CITY_NAME,PROVINCE_STATE,ISO_CNTRY_CODE,PRODUCT_CODE,REFUSAL_DATE,DISTRICT,ENTRY_NUM,RFRNC_DOC_ID,LINE_NUM,LINE_SFX_ID,FDA_SAMPLE_ANALYSIS,PRIVATE_LAB_ANALYSIS,REFUSAL_CHARGES,PRDCT_CODE_DESC_TEXT
0,3016998564,"xinyayuan biotech co., ltd",Standard Building 8,Zhusong; Intensive Processing Zone Of Agricult...,Chengdu,Sichuan,CN,25RGH99,09-Oct-20,DNEI,EKH-0734521-1,72,1,NaN,No,No,249,"MUSHROOMS AND OTHER FUNGI PRODUCTS, BROKEN OR ..."
1,3016638548,TRIPLE CROWN FOODS INC,26 Main St Ste A,NaN,Kings Park,NY,US,25JFD24,07-Apr-20,DSEI,EKM-0147848-3,11,36,NaN,No,No,249,GINGER ROOT (ROOT & TUBER VEGETABLE)
2,3014453449,Three Squirrels Inc.,No. 8 Jiusheng Road,"High Tech Industrial Development Zone, Yijiang...",Wuhu,Anhui,CN,33LGT12,27-Aug-19,DWCI,EKU-0054443-4,182,1,NaN,No,No,"324, 473","MIXED/ASSORTED SOFT CANDY WITHOUT NUTS, FRUIT ..."
3,2000005205,Pablo Ignacio Michel Ontiveros,Quintana Roo 1611,Col. Guadalupana,Guadalajara,Jalisco,MX,23BGT07,23-Oct-17,DSWI,EMK-0028113-4,11,2,NaN,Yes,No,"11, 256, 274","PEANUT, SHELLED"
4,3013071463,"Shantou Olive Pharmaceutical Co.,Ltd",NO. 4 Chaoshanlu Xixiang,Jinping,Shantou,Guangdong,CN,66VBY99,29-Jun-16,LOS-DO,EPG-3005802-1,1,36,NaN,No,No,"72, 218, 238, 328","MISCELLANEOUS PATENT MEDICINES, ETC."

In [4]:
df_example = df[['RFRNC_DOC_ID','LINE_NUM']].sample(500)

In [5]:
df_example

        RFRNC_DOC_ID  LINE_NUM
134316            21         1
19409             10         2
138077           132         1
94773              7         1
104651            49         1
...              ...       ...
13248             11         1
38554             11         2
92616             11         1
130280            41         1
34057              1         1

[500 rows x 2 columns]

In [6]:
from sklearn.cluster import KMeans

In [7]:
kmeans = KMeans(n_clusters=5, random_state=0, n_init="auto").fit(df_example)

In [8]:
kmeans.labels_

array([0, 0, 4, 0, 0, 0, 0, 0, 0, 0, 4, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       4, 0, 0, 0, 0, 0, 0, 4, 0, 0, 0, 0, 4, 4, 4, 0, 0, 0, 4, 0, 0, 4,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 4, 0, 0, 0, 4, 0, 0, 3, 0, 0, 0, 1,
       0, 0, 0, 2, 0, 0, 0, 0, 4, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 4, 0,
       0, 0, 0, 0, 2, 4, 0, 0, 0, 0, 0, 4, 4, 0, 0, 0, 0, 0, 3, 0, 4, 0,
       0, 0, 0, 4, 0, 0, 0, 0, 0, 0, 0, 0, 0, 2, 0, 0, 0, 4, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 4, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 4, 0, 0, 0, 0, 3, 0, 4, 0, 0, 0, 0, 0, 3, 0, 0, 0, 0, 0,
       1, 0, 4, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 4, 0, 0, 3, 0, 0, 4, 0, 0, 4, 0, 0,
       4, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 4, 4, 0,
       0, 0, 4, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 4, 0, 0, 0, 3, 0, 0, 0,
       4, 0, 4, 0, 0, 0, 0, 0, 0, 0, 0, 4, 0, 0, 0, 0, 0, 0, 3, 0, 0, 0,
       0, 4, 0, 0, 0, 0, 0, 0, 4, 4, 0, 0, 0, 0, 0, 0, 0, 4, 0, 4, 0, 0,
       0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 3, 0, 0, 0, 0, 0, 0, 0, 4, 0, 0,
       4, 0, 0, 4, 0, 0, 0, 0, 0, 0, 4, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 4, 0, 4, 0, 0, 0, 0, 0, 0, 0, 4,
       4, 0, 0, 0, 0, 0, 0, 0, 0, 4, 0, 0, 0, 0, 0, 4, 0, 0, 0, 0, 3, 0,
       0, 0, 3, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 4, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 4, 0, 0, 0, 0, 0, 0, 0, 0, 0, 4,
       0, 0, 4, 0, 4, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 3, 0, 0, 0, 0,
       0, 0, 3, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 4, 0, 0, 4, 0, 0, 4, 0,
       0, 0, 0, 0, 4, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], dtype=int32)

In [9]:
df_example['cluster'] = kmeans.labels_

In [10]:
df_example.cluster.value_counts()

cluster
0    424
4     58
3     12
1      3
2      3
Name: count, dtype: int64

In [11]:
df_example.query('cluster == 0')[['RFRNC_DOC_ID']].value_counts()

RFRNC_DOC_ID
11              156
1               109
21               31
2                20
3                15
12               14
41               13
31               13
4                 9
5                 7
51                6
6                 6
8                 5
7                 3
10                2
14                2
22                2
33                1
49                1
39                1
34                1
16                1
28                1
25                1
17                1
13                1
9                 1
59                1
Name: count, dtype: int64

In [12]:
df_example.query('cluster == 3')[['RFRNC_DOC_ID']].value_counts()

RFRNC_DOC_ID
241             1
242             1
261             1
291             1
341             1
371             1
401             1
411             1
428             1
454             1
471             1
501             1
Name: count, dtype: int64

In [13]:
df_example.LINE_NUM.value_counts()

LINE_NUM
1     370
2      46
5      17
3      15
4      14
6       7
10      5
16      4
8       4
9       3
7       2
11      1
83      1
17      1
50      1
13      1
20      1
31      1
33      1
96      1
14      1
30      1
73      1
18      1
Name: count, dtype: int64

In [14]:
df_example.query('cluster == 0')[['RFRNC_DOC_ID', 'LINE_NUM']].value_counts()[:10]

In [15]:
kmeans.cluster_centers_

array([[1.07382075e+01, 2.93160377e+00],
       [1.56433333e+03, 1.00000000e+00],
       [8.31333333e+02, 1.00000000e+00],
       [3.67750000e+02, 1.41666667e+00],
       [1.10034483e+02, 1.72413793e+00]])

In [16]:
df_example.query('cluster == 3')[['RFRNC_DOC_ID', 'LINE_NUM']].value_counts()[:10]

RFRNC_DOC_ID  LINE_NUM
241           4           1
242           1           1
261           1           1
291           1           1
341           2           1
371           1           1
401           1           1
411           1           1
428           1           1
454           1           1
Name: count, dtype: int64

In [18]:
kmeans.predict([[11,1]])

/opt/conda/envs/sau-fall-2023/lib/python3.11/site-packages/sklearn/base.py:465: UserWarning: X does not have valid feature names, but KMeans was fitted with feature names
  warnings.warn(

array([0], dtype=int32)

In [20]:
kmeans.predict([[241,4]])

/opt/conda/envs/sau-fall-2023/lib/python3.11/site-packages/sklearn/base.py:465: UserWarning: X does not have valid feature names, but KMeans was fitted with feature names
  warnings.warn(

array([3], dtype=int32)